*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.log
*.sql
*.sqlite
bin_*/
dumps/
util/env.go
.DS_Store
.DS_Store?
.vscode
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
public/avatars/
*.gz
api/shopify/.gqlgenc.yml